<?xml version="1.0" ?>
<robot name="link_definitions" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:property name="yaml_file" value="$(find model)/config/model_params.yaml" />
    <xacro:property name="props" value="${xacro.load_yaml(yaml_file)}" />

    <!-- for box link -->
    <xacro:macro name="box_link" params="link_name">
        <xacro:property name="link_props" value="${props[link_name]}" />

        <link name="${link_name}">
            <visual>
                <origin xyz="${link_props['shape_origin_from_x_joint_origin']} ${link_props['shape_origin_from_y_joint_origin']} ${link_props['shape_origin_from_z_joint_origin']}" 
                        rpy="${link_props['shape_origin_a_from_joint_orogin']} ${link_props['shape_origin_b_from_joint_orogin']} ${link_props['shape_origin_c_from_joint_orogin']}" />
                <geometry>
                    <box size="${link_props['x_length]} ${link_props['y_length]} ${link_props['z_length']}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="${link_props['shape_origin_from_x_joint_origin']} ${link_props['shape_origin_from_y_joint_origin']} ${link_props['shape_origin_from_z_joint_origin']}"  
                        rpy="${link_props['shape_origin_a_from_joint_orogin']} ${link_props['shape_origin_b_from_joint_orogin']} ${link_props['shape_origin_c_from_joint_orogin']}" />
                <geometry>
                    <box size="${link_props['x_length]} ${link_props['y_length]} ${link_props['z_length']}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${link_props['com_origin_x_from_joint_center']} ${link_props['com_origin_y_from_joint_center']} ${link_props['com_origin_z_from_joint_center']}" 
                        rpy="${link_props['com_origin_a_from_joint_center']} ${link_props['com_origin_b_from_joint_center']} ${link_props['com_origin_c_from_joint_center']}" />
                <mass value="${link_props['mass']}" />
                <inertia ixx="${link_props['ixx']}" ixy="${link_props['ixy']}" ixz="${link_props['ixz']}" 
                         iyy="${link_props['iyy']}" iyz="${link_props['iyz']}" izz="${link_props['izz']}" />
            </inertial>
        </link>
    </xacro:macro>

    <!-- for cylinder lunk -->
    <xacro:macro name="cylinder_link" params="link_name">
        <xacro:property name="link_props" value="${props[link_name]}" />

        <link name="${link_name}">
            <visual>
                <origin xyz="${link_props['shape_origin_x_from_joint_origin']} ${link_props['shape_origin_y_from_joint_origin']} ${link_props['shape_origin_z_from_joint_origin']}" 
                        rpy="${link_props['shape_origin_a_from_joint_origin']} ${link_props['shape_origin_b_from_joint_origin']} ${link_props['shape_origin_c_from_joint_origin']}" />
                <geometry>
                    <cylinder radius="${link_props['radius']}" length="${link_props['length']}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="${link_props['shape_origin_x_from_joint_origin']} ${link_props['shape_origin_y_from_joint_origin']} ${link_props['shape_origin_z_from_joint_origin']}" 
                        rpy="${link_props['shape_origin_a_from_joint_origin']} ${link_props['shape_origin_b_from_joint_origin']} ${link_props['shape_origin_c_from_joint_origin']}" />
                <geometry>
                    <cylinder radius="${link_props['radius']}" length="${link_props['length']}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${link_props['com_origin_x_from_joint_origin']} ${link_props['com_origin_y_from_joint_origin']} ${link_props['com_origin_z_from_joint_origin']}" 
                        rpy="${link_props['com_origin_x_from_joint_origin']} ${link_props['com_origin_y_from_joint_origin']} ${link_props['com_origin_z_from_joint_origin']}" />
                <mass value="${link_props['mass']}" />
                <inertia ixx="${link_props['ixx']}" ixy="${link_props['ixy']}" ixz="${link_props['ixz']}" 
                         iyy="${link_props['iyy']}" iyz="${link_props['iyz']}" izz="${link_props['izz']}" />
            </inertial>
        </link>
    </xacro:macro>

    <!-- for sphere lunk -->
    <xacro:macro name="sphere_link" params="link_name">
        <xacro:property name="link_props" value="${props[link_name]}" />

        <link name="${link_name}">
            <visual>
                <origin xyz="${link_props['shape_origin_x_from_joint_origin']} ${link_props['shape_origin_y_from_joint_origin']} ${link_props['shape_origin_z_from_joint_origin']}" 
                        rpy="${link_props['shape_origin_a_from_joint_origin']} ${link_props['shape_origin_b_from_joint_origin']} ${link_props['shape_origin_c_from_joint_origin']}" />
                <geometry>
                    <sphere radius="${link_props['radius']}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="${link_props['shape_origin_x_from_joint_origin']} ${link_props['shape_origin_y_from_joint_origin']} ${link_props['shape_origin_z_from_joint_origin']}" 
                        rpy="${link_props['shape_origin_a_from_joint_origin']} ${link_props['shape_origin_b_from_joint_origin']} ${link_props['shape_origin_c_from_joint_origin']}" />
                <geometry>
                    <sphere radius="${link_props['radius']}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="${link_props['com_origin_x_from_joint_origin']} ${link_props['com_origin_y_from_joint_origin']} ${link_props['com_origin_z_from_joint_origin']}" 
                        rpy="${link_props['com_origin_x_from_joint_origin']} ${link_props['com_origin_y_from_joint_origin']} ${link_props['com_origin_z_from_joint_origin']}" />
                <mass value="${link_props['mass']}" />
                <inertia ixx="${link_props['ixx']}" ixy="${link_props['ixy']}" ixz="${link_props['ixz']}" 
                         iyy="${link_props['iyy']}" iyz="${link_props['iyz']}" izz="${link_props['izz']}" />
            </inertial>
        </link>
    </xacro:macro>

    <link name="dummy"></link>
    <xacro:cylinder_link link_name="base_link" />
    <xacro:cylinder_link link_name="neck_link" />
    <xacro:sphere_link link_name="head_link" />
    <xacro:cylinder_link link_name="tire_left_link" />
    <xacro:cylinder_link link_name="tire_right_link" />

</robot>
