<?xml version="1.0" ?>
<robot name="model" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find model)/model/link_definition.xacro.urdf" />
    <xacro:include filename="$(find model)/model/joint_definition.xacro.urdf" />
    <xacro:include filename="$(find model)/model/gazebo_tag.urdf.xacro" />

</robot>